body {
    background-color: #f4f6f8;
    font-family: Arial, sans-serif;
}

.container {
    width: 420px;
    margin: auto;
    background: white;
    padding: 25px;
    margin-top: 100px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #ccc;
}

input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
